<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<include file="$(find rtabmap_ros)/launch/rtabmap.launch">
		<arg name="rtabmapviz" 			value="false"/>
		<arg name="rviz" 				value="true"/>
		<arg name="rviz_cfg"			value="$(find state_machine)/rviz_conf.rviz"/>
 		<arg name="args" 				value="--delete_db_on_start --Optimizer/GravitySigma 0.3"/> 		<arg name="depth_topic"			value="/camera/aligned_depth_to_color/image_raw"/>
		<arg name="rgb_topic"			value="/camera/color/image_raw"/>
		<arg name="camera_info_topic"	value="/camera/color/camera_info"/>
		<arg name="approx_sync"			value="false"/>
		<arg name="wait_imu_to_init"	value="true"/>
		<arg name="imu_topic"			value="/rtabmap/imu"/>
		<!--arg name="frame_id"			value="base_link"/-->
		<!--arg name="odom_frame_id"		value="odom"/-->
		<!--arg name="odom_topic"			value="odom"/-->
	</include>

</launch>
