<?xml version="1.0" encoding="UTF-8"?>

<launch>

  <!-- Cameras -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="camera" />
    <arg name="align_depth" value="true" />
    <arg name="unite_imu_method" value="linear_interpolation" />
    <arg name="enable_gyro" value="true" />
    <arg name="enable_accel" value="true" />
  </include>

  <!-- Frames: Cameras are placed at 90 degrees, clockwise TRY _imu_optical_frame-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_camera_tf"
      args="0.20 0.0 0.28 0.0 0.0 0.0 base_link camera_link">
  </node>
  
<group ns="rtabmap">
  
  <!-- Use RGBD synchronization -->
    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
        
        <remap from="rgb/image"         to="/camera/color/image_raw"/>
        <remap from="depth/image"       to="/camera/aligned_depth_to_color/image_raw"/>
        <remap from="rgb/camera_info"   to="/camera/color/camera_info"/>
        <remap from="rgbd_image"        to="rgbd_image"/> <!-- output -->
        
        <param name="approx_sync"       value="true"/> 
    
    </node>
    
</group>

</launch>
