<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="use_local_joy"           	default="0"/>
	<arg name="use_keyboard"      		default="1"/>

	<arg name="max_lin_vel"      		default="0.2"/>
	<arg name="min_lin_vel"      		default="-0.2"/>
	<arg name="max_ang_vel"      		default="0.5"/>
	<arg name="max_lin_acc"      		default="0.2"/>
	<arg name="max_ang_acc"      		default="0.5"/>



	<include file="$(find joystick_to_twist)/launch/joy_launcher.launch">
		<arg name="local_joy" value="$(arg use_local_joy)"/>
		<arg name="use_keyboard" value="$(arg use_keyboard)"/>
		<arg name="scale_lin_vel" value="$(arg max_lin_vel)"/>
		<arg name="scale_ang_vel" value="$(arg max_ang_vel)"/>
	</include>

	<node name="state_machine" 	pkg="state_machine" 	type="main_sm.py" 		args='' output="screen">
		<param name="vel_reduction_coeff" value="0.2"/>
		<param name="local_joy"		  	  value="$(arg use_local_joy)" />
		<param name="use_keyboard"		  value="$(arg use_keyboard)" />
		<param name="max_lin_vel" value="$(arg max_lin_vel)"/>
		<param name="min_lin_vel" value="$(arg min_lin_vel)"/>
		<param name="max_ang_vel" value="$(arg max_ang_vel)"/>
		<param name="max_lin_acc" value="$(arg max_lin_acc)"/>
		<param name="max_ang_acc" value="$(arg max_ang_acc)"/>
	</node>
</launch> 
