<launch>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true">
      <rosparam command="load" file="$(find localization)/config/ekf_params.yaml" />

    <remap from="/odometry/filtered" to="/robot_local/filtered_odom" />
      
    </node>
   

</launch>
